[project]
	description = A remake of the Pong Game with SDL2
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Rafael C. Nunes (rafaelcn)
[access "refs/for/refs/*"]
	read = group user/Rafael C. Nunes (rafaelcn)
	push = group user/Rafael C. Nunes (rafaelcn)
	label-Code-Review = -2..+2 group user/Rafael C. Nunes (rafaelcn)
	label-Verified = -1..+1 group user/Rafael C. Nunes (rafaelcn)
	rebase = group user/Rafael C. Nunes (rafaelcn)
	removeReviewer = group user/Rafael C. Nunes (rafaelcn)
	submit = group user/Rafael C. Nunes (rafaelcn)
[access "refs/heads/*"]
	read = group user/Rafael C. Nunes (rafaelcn)
	create = group user/Rafael C. Nunes (rafaelcn)
	push = +force group user/Rafael C. Nunes (rafaelcn)
	pushMerge = group user/Rafael C. Nunes (rafaelcn)
[access "refs/tags/*"]
	push = +force group user/Rafael C. Nunes (rafaelcn)
	pushTag = group user/Rafael C. Nunes (rafaelcn)
	pushSignedTag = group user/Rafael C. Nunes (rafaelcn)
